<configuration>

    <property name="APP_NAME" value="finance-api"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">

            <!-- MDC alanlarını otomatik bas -->
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>correlationId</includeMdcKeyName>

            <customFields>
                {"service":"${APP_NAME}"}
            </customFields>

        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
