<configuration>
    <property name="APP_NAME" value="news-service"/>
    <property name="KAFKA_BOOTSTRAP" value="${KAFKA_BOOTSTRAP_SERVERS:-kafka:9092}"/>
    <include resource="logback-kafka-base.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="KAFKA"/>
    </root>
</configuration>
