<configuration>

    <property name="APP_NAME" value="finance-api"/>
    <property name="KAFKA_BOOTSTRAP" value="${KAFKA_BOOTSTRAP_SERVERS:-kafka:9092}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">

            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>correlationId</includeMdcKeyName>

            <customFields>
                {"service":"${APP_NAME}"}
            </customFields>

        </encoder>
    </appender>

    <!-- KAFKA LOG APPENDER -->
    <appender name="KAFKA"
              class="com.github.danielwegener.logback.kafka.KafkaAppender">

        <topic>app.logs</topic>

        <producerConfig>bootstrap.servers=${KAFKA_BOOTSTRAP}</producerConfig>
        <producerConfig>acks=1</producerConfig>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>correlationId</includeMdcKeyName>

            <customFields>
                {"service":"${APP_NAME}"}
            </customFields>
        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="KAFKA"/>
    </root>

</configuration>
